<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>Sketch2Face</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <style>
      .container{
        border: 1px solid black;
      }
    </style>
  </head>
  
  <body>
    <div class="container" align="center">
      <div class="row">
      
      <div class="col-lg-3">
        
        <center>
        <img style="width:250px;height:130px;align:center" src="https://cdn.glitch.com/914cc278-c3a0-4b60-8a95-d762ade5c801%2Fupdated%20logo.jpeg?1536168762686">
        </center>
      </div>
      <div class="col-lg-9 pt-3">
        
        <center>
        <h3 style="color:#046c8e">DAYANANDA SAGAR COLLEGE OF ENGINEERING</h3>
        <h7 style="color: #b58a07;font-weight:bold;font-size:80%;"><small>AN AUTONOMOUS INSTITUTE AFFILIATED TO VISVESVARAYA TECHNOLOGICAL UNIVERSITY,<br>APPROVED BY AICTE AND UGC, ACCREDITED BY NAAC WITH 'A' GRADE</small>
        </h7><br><p style="font-weight:bold;font-size:80%;"> SHAVIGE MALLESHWARA HILLS, KUMARASWAMY LAYOUT, BENGALURU - 78</p>
        </center>
      </div>
  </div>
    <center><p style="color:#046c8e;font-size:180%;">DEPARTMENT OF INFORMATION SCIENCE AND ENGINEERING</p>
      <h2 style="color:#046c8e;font-size:180%;">
        Final Year Project
      </h2>
      <h3>
        SKETCH TO FACE CONVERTER
      </h3><br><br>
      
      
      <form enctype="multipart/form-data">
   
        <div class="input-group" style="max-width:480px">
          <div class="custom-file">
            
            <input  name="imagefile" type="file" id="imageUpload" accept=".png, .jpg, .jpeg" class="custom-file-input" >
            <label class="custom-file-label" for="inputGroupFile01">Choose image</label>
            
          </div>
        </div>
        
      </form><br>
      <code id="status">
        Please upload a sketch in PNG format to continue
      </code>
      <br>
      <img id="ajaxloader" style="display:none" src="ajaxloader.gif" alt="loading">
      <img class="img-fluid" id="imgpreview" src="preview.png" alt="your image" title="Preview"/>

      <div id="output">
      </div><br><br>      
      <div id="team">
      <h6>
        <hr>
        Presented by
        <hr>
        <table class="table table-striped table-bordered table-hover ">
          <thead>
            <tr><th>Name</th><th>USN</th></tr>
          </thead>
          <tbody>
            <tr><td>Nischal Tonthanahal</td><td>1DS15IS061</td></tr>
            <tr><td>Shravan KP</td><td>1DS15IS089</td></tr>
            <tr><td>Sourab BR</td><td> 1DS15IS101</td></tr>
            <tr><td>Suhas Buravalla</td><td>1DS15IS104</td></tr>
          </tbody>
        </table>
      </h6>
      </div>
    </div>
    
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="client.js"></script>
  </body>

  
</html>
